<app-header [drawer]="drawer"></app-header>

<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'" style="width: 180px;">
   <app-left-menu></app-left-menu>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-container">

      <!-- search bar -->
      <mat-form-field class="mat-search">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="filterData($event)" placeholder="Search by name" #input>
      </mat-form-field>

      <!-- add button -->
      <button mat-raised-button color="primary" class="add-button" data-bs-toggle="modal"
        data-bs-target="#staticBackdropAdd" (click)="onAddRecordClicked()"><mat-icon>add</mat-icon>Add Record</button>

      <!-- record table -->
      <app-record-table [dataSource]="visibleTableData" [displayedColumns]="displayedColumns" (edit)="onEdit($event)"
        (delete)="onDelete($event)">
      </app-record-table>

    </div>
  </mat-drawer-content>
</mat-drawer-container>


<!--delete Modal -->
<app-confirm-modal [actionName]="'Confirm'" [actionInfo]="'Do you want to delete this record?'" [button1Name]="'Cancel'"
  [button2Name]="'Delete'" (button1Clicked)="deleteId=''" (button2Clicked)="onDeleteConfirm()"></app-confirm-modal>
<!-- Add Modal -->
<app-form [studentForm]="studentForm" [studentModel]="studentModal" (formSubmit)="onSubmit($event)"
  [action]="action"></app-form>